.container1{
    background-color: rgb(184, 251, 255);
    width: 100%;
    padding-top: 130px;
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 150px;
}
.name{
    font-family: 'Brush Script MT', cursive;
    font-size: 120px;
    padding-bottom: 0;
    color: rgb(3, 149, 197);
}
.hey{
    font-family: "Montserrat", sans-serif;
    padding-top: 0;
    font-weight:lighter;
    font-size: 30px;
    padding-bottom: 30px;
}
.srm{
    color: rgb(3, 149, 197);
    font-weight: bold;
    
}
.about{
    font-style:oblique;
}
.srmlogo img {
    display: block;
    margin: 0 auto;
}
.container2{
    text-align: center;
    padding-bottom: 120px;
    padding-top: 80px;
}
.mypic{
    border-radius: 50%;
    padding-top: 30px;
}
.hello{
    font-size: 50px;
    color: rgb(3, 149, 197);
    font-weight: bold;
    padding-bottom: 30px;
}
.about{
    text-align: center;
    font-size: larger;
}
.container3{
    background-color: rgb(184, 251, 255);
    padding-bottom: 150px;
    padding-top: 80px;
    text-align: center;
    justify-content: center;
}
.skills{
    color: rgb(3, 149, 197);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.skillbox{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    text-align: left;
    row-gap: 20px;
    margin: 100px auto 0 auto;
}
.skill1{
    margin-left: 20px;
}
.container4{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}
.touch{
    color: rgb(3, 149, 197);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.lastp{
    font-size: 20px;
}
.btn{
    background-color: rgb(184, 251, 255);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: solid 5px rgb(3, 149, 197);
    font-size: 20px;
    font-weight: bol;
    margin-top: 20px;

}
.container5{
    background-color: rgb(184, 251, 255);
    padding: 10px;
}